* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.product-info .add-to-cart .item-number, .product-info .add-to-cart, .btn, .prev,
.next, .row, .product-images, .product, nav .user-info, nav .nav-items, nav .nav-logo, nav {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

nav {
  justify-content: space-between;
  position: relative;
  padding-inline: 1rem;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
nav .logo {
  margin-left: 0;
}
nav .nav-items .nav-link {
  color: hsl(219, 9%, 45%);
  align-self: center;
  margin-left: 2rem;
  margin-top: 2rem;
  height: 3rem;
  cursor: pointer;
}
nav .nav-items .nav-link:hover {
  border-bottom: 2px solid hsl(26, 100%, 50%);
}
nav .user-info .cart {
  position: relative;
}
nav .user-info .cart-detail {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
  width: 20rem;
  position: absolute;
  top: 2rem;
  right: 50%;
  transform: translateX(50%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.4rem;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);
}
nav .user-info .cart::after {
  content: attr(data-count);
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 50%;
  background-color: hsl(26, 100%, 50%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  position: absolute;
  right: -10px;
  top: 0;
  transform: translateY(-50%);
}
nav .user-info .user-avatar {
  width: 3rem;
  margin-left: 3rem;
}
nav .user-info .user-avatar:hover {
  outline: 2px solid hsl(26, 100%, 50%);
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
  z-index: 1;
}

.cursor {
  cursor: pointer;
}

.hamburger,
.close-menu-btn {
  display: none;
  cursor: pointer;
}

.product {
  margin-top: 2rem;
}
.product > * {
  flex: 1;
}

.product-images {
  flex-direction: column;
}
.product-images .product-img {
  position: relative;
}
.product-images .prev,
.product-images .next {
  position: absolute;
  display: none;
  top: 40%;
}
.product-images .prev {
  left: 1.5rem;
}
.product-images .next {
  right: 1.5rem;
}
.product-images .product-img img {
  width: 30rem;
  border-radius: 1.5rem;
}

.row {
  margin-top: 2rem;
}
.row .column {
  padding-inline: 0.7rem;
}
.row .column .product-img-thumbnail {
  width: 6.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.row .column .product-img-thumbnail:hover {
  opacity: 50%;
}

.lightbox-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.lightbox-container .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 30rem;
  /* The Close Button */
}
.lightbox-container .modal-content img {
  border-radius: 1rem;
  width: 100%;
}
.lightbox-container .modal-content .close-modal {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: -4.5rem;
  right: 0;
  font-size: 3rem;
  font-weight: bold;
  z-index: 2;
}
.lightbox-container .modal-content .close-modal:hover, .lightbox-container .modal-content .close-modal:focus {
  color: hsl(26, 100%, 50%);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.lightbox-image {
  position: relative;
}

.prev,
.next {
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-color: white;
  color: hsl(220, 13%, 13%);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.6s ease;
  border-radius: 50%;
}

.prev {
  left: -1.5rem;
}

.next {
  right: -1.5rem;
}

.prev:hover,
.next:hover {
  color: hsl(26, 100%, 50%);
}

.btn {
  justify-content: center;
  padding: 0.8rem 1.2rem;
  background-color: hsl(26, 100%, 50%);
  border-radius: 0.6rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.product-info {
  max-width: 30rem;
  padding-inline: 2rem;
}
.product-info .company {
  color: hsl(26, 100%, 50%);
  font-weight: 700;
  text-transform: uppercase;
}
.product-info .product-name {
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: hsl(220, 13%, 13%);
  margin-block: 1rem;
}
.product-info .product-description {
  color: hsl(219, 9%, 45%);
  margin-block: 1rem;
  font-size: clamp(1rem, 1vw, 1.25rem);
}
.product-info .price-container {
  margin-block: 2rem;
}
.product-info .price-container .price {
  font-size: 1.5rem;
  font-weight: 700;
}
.product-info .price-container .price::after {
  content: "50%";
  color: hsl(26, 100%, 50%);
  font-size: 0.8rem;
  background-color: hsl(25, 100%, 94%);
  padding: 3px 5px;
  margin-left: 1rem;
}
.product-info .price-container .price-muted {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
.product-info .add-to-cart {
  margin-top: 2rem;
}
.product-info .add-to-cart .item-number {
  justify-content: space-around;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  width: 10rem;
  padding: 0.8rem 0.5rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.6rem;
}
.product-info .add-to-cart .add-to-cart-btn {
  flex-grow: 1;
  margin-left: 1rem;
}
.product-info .add-to-cart .add-to-cart-btn span {
  margin-left: 1.2rem;
}
.product-info .add-to-cart .add-to-cart-btn img {
  width: 1rem;
}

@media screen and (max-width: 768px) {
  nav {
    padding-block: 1rem;
    border: none;
  }
  nav .logo {
    margin-left: 1rem;
  }
  nav .nav-menu {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 8rem 0 1.5rem;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: left 0.5s;
    z-index: 2;
  }
  nav .nav-menu .nav-items {
    display: block;
    margin-top: 2rem;
    margin-left: 0;
  }
  nav .nav-menu .nav-items .nav-link {
    height: 100%;
    margin: 1.5rem 0 0 0;
    font-weight: 700;
    cursor: pointer;
  }
  nav .nav-menu .nav-items .nav-link:hover {
    color: hsl(26, 100%, 50%);
    border: none;
  }
  nav .nav-menu.active {
    left: 0;
  }
  nav .hamburger,
  nav .close-menu-btn {
    display: block;
  }
  .container {
    padding: 0;
  }
  .product {
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
  }
  .product img {
    border-radius: 0 !important;
  }
  .product-images .prev,
  .product-images .next {
    display: flex;
  }
  .row {
    display: none;
  }
  .product-info {
    padding-inline: 2rem;
  }
  .product-info .price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-info .add-to-cart {
    flex-direction: column;
    align-items: stretch;
  }
  .product-info .add-to-cart .item-number {
    width: 100%;
  }
  .product-info .add-to-cart .add-to-cart-btn {
    margin-block: 1rem;
    margin-left: 0;
  }
}