@import "variables";

//reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $base-ff;
	font-size: $base-fs;
	font-weight: $fw-normal;
	line-height: 1.3;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	border: none;
	background: none;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

%flex-box {
	display: flex;
	align-items: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

// top nav
nav {
	@extend %flex-box;
	justify-content: space-between;
	position: relative;
	padding-inline: 1rem;
	border-bottom: 1px solid $clr-grayish-blue;
	z-index: 1000;

	.nav-logo {
		@extend %flex-box;
	}

	.logo {
		margin-left: 0;
	}

	.nav-items {
		@extend %flex-box;

		.nav-item {
			color: $clr-dark-grayish-blue;
			align-self: center;
			margin-left: 2rem;
			margin-top: 2rem;
			height: 3rem;
			cursor: pointer;

			&:hover {
				border-bottom: 2px solid $clr-orange;
			}
		}
	}

	.user-info {
		@extend %flex-box;

		.user-avatar {
			width: 3rem;
			margin-left: 3rem;

			&:hover {
				outline: 2px solid $clr-orange;
				border-radius: 50%;
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	display: none;
	z-index: 10;
}

.cursor {
	cursor: pointer;
}

.hamburger,
.close-menu-btn {
	display: none;
	cursor: pointer;
}
//mobile devices
@media screen and (max-width: 768px) {
	nav {
		padding-block: 1rem;
		border: none;

		.logo {
			margin-left: 1rem;
		}
		.nav-menu {
			position: absolute;
			background-color: $clr-white;
			padding: 2rem 8rem 0 1.5rem;
			height: 100vh;
			top: 0;
			left: -100%;
			transition: left 0.5s;

			.nav-items {
				display: block;
				margin-top: 2rem;
				margin-left: 0;

				.nav-item {
					margin-bottom: 1rem;
					margin-left: 0;
					font-weight: $fw-bold;
					cursor: pointer;

					&:hover {
						color: $clr-orange;
					}
				}
			}

			&.active {
				left: 0;
			}
		}

		.hamburger,
		.close-menu-btn {
			display: block;
		}
	}
}

//product
.product {
	@extend %flex-box;
	margin-top: 2rem;

	& > * {
		flex: 1;
		padding-inline: 4rem;
	}
}

.product-images {
	@extend %flex-box;
	flex-direction: column;

	.prev,
	.next {
		display: none;
		top: 40%;
	}

	.prev {
		left: 1.5rem;
	}

	.next {
		right: 1.5rem;
	}

	.product-img img {
		width: 30rem;
		border-radius: 1.5rem;
	}
}

.row {
	@extend %flex-box;
	margin-top: 2rem;

	.column {
		padding-inline: 0.7rem;

		.product-img-thumbnail {
			width: 6.5rem;
			border-radius: 0.5rem;
			cursor: pointer;

			&:hover {
				opacity: 50%;
			}
		}
	}
}

.lightbox-container {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);

	.modal-content {
		position: relative;
		margin: auto;
		padding: 0;
		width: 30rem;

		img {
			border-radius: 1rem;
			width: 100%;
		}
	}
}

/* The Close Button */
.close {
	color: $clr-white;
	position: absolute;
	top: 5%;
	right: 35%;
	font-size: 3rem;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: $clr-orange;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
}

/* Next & previous buttons */
.lightbox-image {
	position: relative;
}
.prev,
.next {
	@extend %flex-box;
	justify-content: center;
	position: absolute;
	top: 50%;
	width: $arrow-size;
	height: $arrow-size;
	padding: 1rem;
	background-color: white;
	color: $clr-dark-blue;
	font-weight: bold;
	font-size: 1.2rem;
	transition: 0.6s ease;
	border-radius: 50%;
}

.prev {
	left: calc($arrow-size / -2);
}

.next {
	right: calc($arrow-size / -2);
}

.prev:hover,
.next:hover {
	color: $clr-orange;
}

.product-info {
	.company {
		color: $clr-orange;
		font-weight: $fw-bold;
		text-transform: uppercase;
	}

	.product-name {
		font-size: 3rem;
		color: $clr-dark-blue;
		margin-block: 1rem;
	}

	.product-description {
		color: $clr-dark-grayish-blue;
		margin-block: 1rem;
	}

	.price-container {
		margin-block: 2rem;

		.price {
			font-size: 1.5rem;
			font-weight: $fw-bold;

			&::after {
				content: "50%";
				color: $clr-orange;
				font-size: 0.8rem;
				background-color: $clr-pale-orange;
				padding: 3px 5px;
				margin-left: 1rem;
			}
		}

		.price-muted {
			font-size: 1rem;
			font-weight: $fw-bold;
			color: $clr-grayish-blue;
			text-decoration: line-through;
		}
	}

	.add-to-cart {
		$br: 0.6rem;
		@extend %flex-box;
		margin-top: 2rem;

		.item-number {
			@extend %flex-box;
			justify-content: space-around;
			font-weight: $fw-bold;
			color: $clr-dark-blue;
			width: 10rem;
			padding: 0.8rem 0.5rem;
			background-color: $clr-light-grayish-blue;
			border-radius: $br;
		}

		.add-to-cart-btn {
			@extend %flex-box;
			justify-content: center;
			flex-grow: 1;
			padding: 0.8rem 0.5rem;
			background-color: $clr-orange;
			margin-left: 1rem;
			border-radius: $br;

			span {
				color: $clr-white;
				font-weight: $fw-bold;
				margin-left: 1.2rem;
			}

			img {
				width: 1rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0;
	}

	.product {
		flex-direction: column;
		gap: 2rem;
		margin-top: 0;

		& > * {
			padding-inline: 0;
		}

		img {
			border-radius: 0 !important;
		}
	}

	.product-images {
		.prev,
		.next {
			display: flex;
		}
	}

	.row {
		display: none;
	}

	.product-info {
		padding-inline: 2rem;

		.product-name {
			font-size: 2rem;
		}

		.price-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.add-to-cart {
			flex-direction: column;
			align-items: stretch;

			.item-number {
				width: 100%;
			}

			.add-to-cart-btn {
				margin-block: 1rem;
				margin-left: 0;
			}
		}
	}
}
